.container {
  display: flex;
  background-color: 
#D1ADDB;
width: 1320px;
}

.container div {
   background-color: #F4F0F5;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
}
h1, p {
  
  text-align:center;
}